
ul {
    padding: 10px 20px;
}


.list-content{
    background-color: aliceblue;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  


}
.list-item{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    flex-flow: column;

    
  
   
}

